# Python-related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environments
env/
venv/
ENV/
.venv/
.VENV/

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Logs
logs/
*.log

# Test outputs
*.csv
test_output.csv
*.tmp

# IDE/Editor-related
.vscode/
.idea/
*.swp
*.swo
*.bak

# Dependency files
*.egg-info/
.eggs/
*.lock

# Dash/Plotly cache (if any)
dash_cache/

# Unit test cache files
.pytest_cache/

# Jupyter notebook checkpoints (if applicable)
.ipynb_checkpoints/

# Ignore all .env files for secrets and configurations
.env
.env.local

# Randoms
product_data.db
cloudflare.conf
*.crt
*.key
product_data.db
